version: "3.4"
services:
  webserver:
    container_name: webserver
    build:
      context: .
      dockerfile: Dockerfile
    # depends_on:
    #   - database
    user: "1001:1001" 
    volumes:
      - ./:/var/www/html
    ports:
      - 8000:80

#   database:
#     container_name: database
#     image: mysql
#     restart: always
#     environment:
#       MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
#       MYSQL_DATABASE: ${DB_DATABASE}
#       MYSQL_USER: ${DB_USERNAME}
#       MYSQL_PASSWORD: ${DB_PASSWORD}
#     ports:
#       - 9906:3306
#     volumes:
#       - dbdata :/var/lib/mysql
#   phpmyadmin:
#     container_name: phpmyadmin
#     image: phpmyadmin/phpmyadmin
#     ports:
#       - 8080:80
#     restart: always
#     environment:
#       PMA_HOST: database
#     depends_on:
#       - database

# volumes:
#   - dbdata: ~
